# Redis connection URL
LINKS_REDIS_URL=redis://default:password@host:port

# Secret key for authentication
SECRET_KEY=your-secret-key-here

# Port
# LINKS_PORT=3000

# 最大文本大小
# LINKS_MAX_TEXT_SIZE=500
